
.Chatroom {
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
}

.nodisplay  {
    display: none;
}

.headWindow {
    height: 45px;
    border-radius: 5px;
    background-color: rgb(20, 20, 20);
    margin-top: 20px;
    margin-bottom: 10px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.userToggle {
    background-color: rgb(192, 255, 65);
    border-radius: 3px;
    margin-top: 1px;
    width: 38px;
    cursor: pointer;
    margin-left: 5px;
    height: fit-content;
    text-align: center;
}

.userToggle:hover {
    opacity: 0.5;
}

.chevron-icon {
    font-size: 33px !important;
}

.main-window {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: calc(100vh - 70px);
    display: flex;
    border-radius: 3px;
}

.users {
    width: 30%;
    display: flex;
    height: calc(100% - 20px) !important;
    transition: width 2s ease;
    flex-direction: column;
    border-bottom-left-radius: 5px;
    border-right: yellowgreen solid 3px;

}

.user {
    background-color: greenyellow;
    border-radius: 5px;
    height: 40px;
    display: flex;
    text-align: center;
    font-size: 18px;
    text-transform: capitalize;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.user > .online {
    border-radius: 50%;
    background-color: rgb(0, 201, 0);
    width: 10px;
    margin-right: 10px;
    height: 10px;
}

.user > h4 {
    margin-left: 3px;
}

.videoCallContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.peer-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.callendincoming-iconContainer {
    background-color: red;
    border-radius: 50%;
    cursor: pointer;
    width: 50px;
    animation: pulse 1.2s infinite;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.connecting-text {
    position: absolute;
    left: 50%;
    color: white;
    font-size: 35px;
    transform: translate(-50%);
}


.callendincoming-iconContainer>* {
    color: white;
}

.callend-iconContainer {
    background-color: red;
    border-radius: 50%;
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.callaccept-iconContainer {
    background-color: rgb(0, 216, 29);
    border-radius: 50%;
    cursor: pointer;
    width: 50px;
    animation: pulse2 1.2s infinite;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes pulse2 {
	0% {
		transform: scale(0.90);
		box-shadow: 0 0 0 0 rgb(0, 0, 0);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10 rgb(0, 0, 0);
	}

	100% {
		transform: scale(0.90);
		box-shadow: 0 0 0 0 rgb(0, 0, 0);
	}
}

.incoming-videocall-text {
    position: absolute;
    z-index: 4500;
    bottom: 200px;
    color: white;
}


.callaccept-iconContainer > * {
    color: white;
}

.callend-iconContainer>* {
    color: white;
}

.video-call-controls {
    width: 100%;
    height: 120px;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: 0;
    margin-top: 200px !important;
    z-index: 2000;
}

.video-callincoming-controls {
    width: 50%;
    height: 120px;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: 0;
    margin-top: 200px !important;
    z-index: 2000;
}

.icon-container {
    display: flex;
    width: 350px;
    height: 50px;
    background-color: rgb(243, 243, 243);
    border-radius: 20px;
    justify-content: space-evenly;
    align-items: center;
}

.icon-container > * {
    font-size: 30px !important;
}

.iconContainer {
    cursor: pointer;
}

.videocam-icon {
    cursor: pointer;
    margin-right: 5px;
}



.user-video {
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 150px;
    object-fit: cover;
    right: 0;
    margin-right: 20px;
    margin-bottom: 20px;
    z-index: 100;
}



.video-modal {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
    width: 100%;
    height: 100%;
    margin: auto;
}

.chat-window {
    display: flex;
    width: 100%;
    border-bottom-right-radius: 5px;
    flex-direction: column;
}

::-webkit-scrollbar {
    width: 5px;  /* Remove scrollbar space */
    background: rgb(37, 37, 37);  /* Optional: just make scrollbar invisible */
}

.avatarGroup {
    position: relative;
    z-index: 5;
}

.chats {
    height: 95%;
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
    width: 100% !important;
}

.incoming-call-modal {
    position: absolute;
    border-radius: 5px;
    z-index: 4000;
    width: 320px;
    border: none;
    outline: none;
    background-color: rgb(255, 255, 255);
    text-align: center;
    color: black;
    height: fit-content;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 50%);
}


.modal {
    position: absolute;
    border-radius: 5px;
    z-index: 2000;
    width: 320px;
    border: none;
    outline: none;
    background-color: rgb(0, 0, 0);
    text-align: center;
    height: fit-content;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 50%);
}

.modal > .nameForm > h4 {
    font-weight: 400;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 18px;
    color: white;
    margin-top: 25px;
}


.modal > .nameForm > input {
    width: 85%;
    height: 22px;
    outline: none;
    border: none;
    border-radius: 3px;
    margin-bottom: 5px;
    padding: 10px;
    font-size: 17px;
    margin-top: 20px;
}

.nameForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nameForm > button {
    width: 90px;
    margin-top: 15px;
    height: 35px;
    cursor: pointer;
    font-size: 18px;
    color: black;
    outline: none;
    margin-bottom: 10px;
    border: none;
    border-radius: 3px;
    background-color: greenyellow;
}

.incoming-video-call {
    position: absolute;
    background-color: black;
    color: white;
    z-index: 4000;
    left: 50%;
    transform: translate(-50%);
    top: 25%;
    height: 300px;
    width: 300px;
}

.incoming-video-call > h2 {
    margin-bottom: 100px;
}

.newComer {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(153, 255, 0);
    height: fit-content;
    border-radius: 3px;
    text-align: center;
}

.exitmsg {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 0, 0);
    height: 50px;
    border-radius: 3px;
    text-align: center;
}

.nameForm > button:hover {
    opacity: 0.5;
}

.snackbar {
    top: 0;
}

.send-message {
    height: fit-content;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.audio-message {
    height: fit-content;
    float: left;
    margin-right: 10px;
    color: white;
    margin-left: 25px;
    margin-top: 10px;
    border-radius: 5px;
    word-break: break-all;
    width: fit-content;
}

.audio-message > audio {
    margin-top: 7px;
}


.message {
    height: fit-content;
    float: left;
    margin-right: 10px;
    color: white;
    margin-left: 25px;
    margin-top: 10px;
    border-radius: 5px;
    word-break: break-all;
    width: fit-content;
}

.avatar-icon {
    font-size: 25px !important;
    height: 35px !important;
    margin-right: 10px;
    width: 35px !important;
}

.participantsContainer {
    width: 90%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
}

.participantsAvatar {
    margin-left: 2px;
    transition: ease-in 0.2s;
}

.participantsAvatar:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.senderinfo {
    width: fit-content;
    height: fit-content;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.senderinfo > h4 {
    margin-right: 6px;
    font-weight: 550;
    font-size: 19px;
    text-transform: capitalize;
}

.senderinfo > h5 {
    font-size: 15px;
    margin-right: 6px;
    margin-left: 5px;
    font-weight: 400;
    color: rgb(141, 141, 141);
}

.message > h5 {
    font-weight: 400;
    margin-left: 45px;
    margin-right: 5px;
    color: rgb(204, 204, 204);
    margin-bottom: 3px;
    font-size: 16px;
    margin-top: 2px;
}


.group-intro {
    background-color: greenyellow;
    display: flex;
    border-radius: 5px;
    width: 90%;
    height: fit-content;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-left: auto;
    text-align: center;
    margin-right: auto;
    flex-direction: column;
}

.group-intro > * {
    color: rgb(22, 22, 22);
    font-weight: 400;
}

.group-intro > h1 {
    margin-bottom: 30px;
    font-weight: 400;
}


.group-intro-copylink {
    background-color: rgb(36, 36, 36);
    width: 80%;
    margin-left: auto;
    cursor: pointer;
    word-break: break-all;
    margin-right: auto;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border-radius: 5px;
    height: fit-content;
}

.group-intro-copylink > h4 {
    color: greenyellow !important;
    font-weight: 400;
    margin-left: 2px;
}

.copy-icon {
    color: greenyellow !important;
    font-size: 25px !important;
}



.audio-modal {
    position: absolute;
    border-radius: 5px;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 50%);
    height: 200px;
    width: 300px;
    border: none;
    outline: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(19, 19, 19);
}

.audio-modal > h3 {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    color: white;
    font-weight: 400;
}

audio {
    outline: none;
    border-radius: 5px !important;
    border: none;
    height: 50px;
}

.audio-icon-container {
    border-radius: 50%;
    width: 60px;
    height:60px;
    display: flex;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

audio::-webkit-media-controls-panel{
    background-color: rgb(174, 255, 12) !important;
}


.recording-mic-icon {
    color: rgb(223, 0, 0) !important;
    font-size: 55px !important;
    animation: pulse 1.2s infinite;
    border-radius: 50%;
}

@keyframes pulse {
	0% {
		transform: scale(0.90);
		box-shadow: 0 0 0 0 rgba(201, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(201, 0, 0, 0.7);
	}

	100% {
		transform: scale(0.90);
		box-shadow: 0 0 0 0 rgba(201, 0, 0, 0.7);
	}
}


.notrecording-mic-icon {
    color: rgb(156, 255, 8) !important;
    font-size: 55px !important;
}

.messageInputContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    background-color: rgb(17, 17, 17);
    height: fit-content;
    width: 100%;
}

.messageInputContainer > input {
    width: 100%;
    height: 30px;
    float: left;
    padding: 4px;
    font-size: 19px;
    border-radius: 5px;
    outline: none;
    border: none;
}

.send-icon {
    font-size: 35px !important;
    margin-right: 8px;
    float: right;
    color: greenyellow;
    transition: transform 1s;
    cursor: pointer;
    margin-left: 8px;
    height: 40px !important;
}

.image-icon {
    font-size: 32px !important;
    float: right;
    color: greenyellow;
    transition: transform 1s;
    cursor: pointer;
    margin-left: 10px;
    height: 40px !important;
}


.image-icon:hover {
    transform: scale(1.1);
}

.send-icon:hover {
    transform: scale(1.1);
}

@media (max-width: 660px) {
    .audio-message {
        height: fit-content;
        float: left;
        margin-right: 10px;
        color: white;
        margin-left: 25px;
        margin-top: 10px;
        border-radius: 5px;
        word-break: break-all;
        width: 90%;
    }

    .audio-message > audio {
        margin-top: 7px;
        width: 90%;
    }

    .message {
        height: fit-content;
        float: left;
        margin-right: 10px;
        color: white;
        margin-left: 25px;
        margin-top: 10px;
        border-radius: 5px;
        word-break: break-all;
        width: fit-content;
    }
    

    .user-video {
        height: 160px;
        width: 110px;
        object-fit: cover;
        position: absolute;
        z-index: 100;
        margin-bottom: calc(100vh - 180px);
    }
    .user > .online {
        display: none;
    }

    .icon-container {
        background-color: white;
        display: flex;
        width: 250px;
        height: 50px;
        border-radius: 20px;
        justify-content: space-evenly;
        align-items: center;
    }

    .send-message {
        height: fit-content;
        left: 1%;
        position: absolute;
        bottom: 0;
        width: 95%;
    }
    

    .main-window {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        height: calc(100vh - 130px);
        display: flex;
        border-radius: 3px;
    }

    .headWindow {
        width: 95%;
    }

    .users {
        width: 100%;
    }
    
    .video-callincoming-controls {
        width: 80%;
        height: 120px;
        align-items: center;
        display: flex;
        justify-content: space-evenly;
        position: absolute;
        bottom: 0;
        margin-top: 200px !important;
        z-index: 2000;
    }


    .senderinfo > h4 {
        margin-right: 6px;
        font-weight: 550;
        font-size: 16px;
        text-transform: capitalize;
    }

    .senderinfo > h5 {
        font-size: 14px;
        margin-right: 6px;
        margin-left: 5px;
        font-weight: 400;
        color: rgb(141, 141, 141);
    }

    .message > h5 {
        font-weight: 400;
        margin-left: 45px;
        margin-right: 5px;
        color: rgb(204, 204, 204);
        margin-bottom: 3px;
        font-size: 16px;
        margin-top: 2px;
    }

    .participantsContainer {
        width: 70%;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        height: 40px;
    }
}